/* impostazioni generali */

*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
} 
   
/* impostazioni header */

    .headsection{

        background-color: white;
        width: 80%;
        margin: auto;
    }

    #logo{

        height: 60px;
        line-height: 100px;
        vertical-align: middle;
    }

    #logotext{

        font-size: 30px;
        color: rgb(0, 0, 0);
        margin-left: 3px;
        margin-top: 10px;
    }

/* corpo parte principale */
main{
background-color: rgb(247, 247, 247);

}

    .contenitoregenerico{
        width: 59%;
        margin: 30px auto;
    }
    .contenitorelista{
        background-color: rgb(255, 255, 255);
    }
/* sezione1 */

    div main{

        background-color: white;
        width: 58%;
        margin: auto; 
        margin-top: 50px;
    }

    .azzurro{

        background-color: rgb(87, 190, 250);
        width: 150px;
        display: inline-block;
        text-align: center;
        line-height: 50px;
        vertical-align: middle;
        border-radius: 10px;
        color: white;
        font-size:x-large
    }

    .neutro{

        border: solid;
        border-color:rgb(219, 219, 219); 
        width: 150px;
        text-align: center;
        line-height: 50px;
        vertical-align: middle;
        border-radius: 10px;
        display: inline-block;
        color: rgb(219, 219, 219);
        font-size: x-large;
    }
/* sezione2 */

.cross{

    color: rgb(50, 199, 50);
    height: 50px;
    text-align: center;
    border: solid;
    border-radius: 60px;
    }

    .x{

        color: rgb(202, 36, 36);
    }

    .bottoni{
        background-color: rgb(87, 190, 250);
        width: 110px;
        display: inline-block;
        text-align: center;
        line-height: 25px;
        vertical-align: middle;
        border-radius: 15px;
        font-size: medium;
    }
    .sezione2{
        margin-bottom: 15px;
    }


    section{
        margin-bottom: 20px;
    }

    .verde{
        background-color: rgb(30, 117, 81);
        color: white;
    } 

    .viola{

        background-color: rgb(84, 15, 131);
        color: white;
    }

    .arancio{

        background-color: rgb(170, 96, 11);
        color: white;
    }

    }

    
